body {
  /* background-image: url("images.jpg");
  background-repeat: no-repeat;
  background-size: cover */
  background: linear-gradient(to right,#fcf9bd, #fca6ec)
  
 
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;